/** This Centers the logo at the top**/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

p{
color:red
}

body{
    background-image: url('BackgroundPhoto.jpg');
}

h1{color:whitesmoke; 
    text-align:center;

}

.centerContents{
 text-align: center;   
}
    
section.center img{

    margin-left:10px;
    margin-right:10px;
    
}